<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>home page <%= 1 +4 %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel
      nulla architecto expedita, dolorem veniam voluptatum laboriosam et
      obcaecati laborum eveniet asperiores repellat! Eius natus reprehenderit
      sapiente distinctio accusamus cupiditate?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      dolores temporibus adipisci? Aperiam iste, beatae esse aut temporibus
      voluptate nobis? Rem ipsum dolore labore ea vero. Exercitationem,
      excepturi vitae! Officia?
    </p>
  </body>
</html>
